# ---------- Java ----------
*.class
*.log
hs_err_pid*
replay_pid*

# Пакеты/архивы
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# ---------- IntelliJ IDEA ----------
.idea/
*.iml
out/

# ---------- Gradle / Maven (на будущее) ----------
# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# Maven
target/

# ---------- ОС и редакторы ----------
.DS_Store
Thumbs.db
.vscode/
